@model List<Category>
<partial name = "_Notification"></partial>
	<div class="container">
		<div class="row py-4">
			<div class="col-6">
				Brand List
			</div>
			<div class="col-6 text-end">
				<a asp-controller ="Category" asp-action="Add" class="btn btn-primary">
				<i class="bi bi-plus-circle"></i> Add Brand
				</a>
			</div>
		</div>
	</div>
	<table id="tblData" class="table table-bordered table-striped" style="width:100%">
		<thead>
			<tr>
				<th>Brand Name</th>
				<th>Brand Series</th>
				<th>Stock Orders</th>
				<th></th>
			</tr>
		</thead>
	</table>

@section Scripts {
	<script src="~/js/category.js"></script>
}