@model Overview
<partial name="_Notification" />
<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Overview</h2>
            </div>
        </div>
    </div>

    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-6">
            </div>
            <div class="col-6 text-end">
                <a asp-controller="Privacy" asp-action="UpdateAdd" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i> Update visions
                </a>
            </div>
        </div>
        <div class="row pl-2 my-3">
            <div class="table-responsive w-100">
                <table class="table table-bordered" style="width: 100%;">
                    <tr>
                        <!-- Text Column -->
                        <td style="width: 60%; vertical-align: top;">
                            @Html.Raw(Model.Description)
                        </td>
                        <!-- Image Column -->
                        <td style="width: 40%; text-align: center; vertical-align: top;">
                            <img src="@Model.ImageLink"
                                 alt="Description Image"
                                 width="100%"
                                 style="border-radius: 5px; border: 1px solid #bbb9b9;" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
