@model Privacy
<partial name="_Notification" />
<div class="card-shadow border-0 mt-4">
	<div class="card-header bg-secondary bg-gradient ml-0 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h2 class="text-white py-2">Update Terms</h2>
			</div>
		</div>
	</div>
	<div class="card-body p-4">
		<form method="post" class="row" enctype="multipart/form-data">
			<input asp-for="PrivacyId" hidden />
			<div class="row">
				<div class="col-8">
					<div class="border p-3">
						<div class="py-2 col-12">
							<label asp-for="Description" class="ms-2 text-muted"></label>
							<textarea asp-for="Description" class="form-control border-0 shadow"></textarea>
						</div>
						<div class="row">
							<div class="col-6 col-md-3">
								@if (Model.PrivacyId != 0)
								{
									<button type="submit" class="btn btn-primary form-control">Update</button>
								}
								else
								{
									<button type="submit" class="btn btn-primary form-control">Add</button>
								}
							</div>
							<div class="col-6 col-md-3">
								<a asp-controller="Privacy" asp-action="Description" class="btn btn-primary border form-control">Back</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>


@section Scripts {
	<!-- Place the following <script> and <textarea> tags your HTML's <body> -->
	<script>
		tinymce.init({
		  selector: 'textarea',
		  plugins: [
			// Core editing features
			'anchor', 'autolink', 'charmap', 'codesample', 'emoticons', 'image', 'link', 'lists', 'media', 'searchreplace', 'table', 'visualblocks', 'wordcount',
			// Your account includes a free trial of TinyMCE premium features
			// Try the most popular premium features until Dec 19, 2024:
			'checklist', 'mediaembed', 'casechange', 'export', 'formatpainter', 'pageembed', 'a11ychecker', 'tinymcespellchecker', 'permanentpen', 'powerpaste', 'advtable', 'advcode', 'editimage', 'advtemplate', 'ai', 'mentions', 'tinycomments', 'tableofcontents', 'footnotes', 'mergetags', 'autocorrect', 'typography', 'inlinecss', 'markdown','importword', 'exportword', 'exportpdf'
		  ],
		  toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
		  tinycomments_mode: 'embedded',
		  tinycomments_author: 'Author name',
		  mergetags_list: [
			{ value: 'First.Name', title: 'First Name' },
			{ value: 'Email', title: 'Email' },
		  ],
		  ai_request: (request, respondWith) => respondWith.string(() => Promise.reject('See docs to implement AI Assistant')),
		});
	</script>
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}